{% set props = grafana_dashboards[item | basename]%}
{
  "dashboard": {
    "id": null,
    "title": "{{props.title}}",
    "tags": [ "templated" ],
    "timezone": "browser",
    "rows": [
      {
      }
    ],
    "schemaVersion": 6,
    "version": 0
  },
  "overwrite": true
}
